:root {
  --mainColor: #233d4d;
  --generalColor: #8d6930;
  --integracionColor: #e18b22;
  --fyeColor: #9a8bc0;
  --coordinacionColor: #798ce1;
  --comunicacionColor: #824670;
  --musicaColor: #41e2ba;
  --moColor: #ffc503;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  cursor: pointer;
}

.navbarBackground {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.noScrolled {
  background-color: none !important;
}

.scrolled {
  background-color: #212529;
}

.containerAll {
  background-color: var(--mainColor);
}

.containerAllSanPa {
  background-color: #361b15;
}

.containerAllMo {
  background-color: #fff;
}

.elfsight-app-5f25b315-0f82-4981-83ba-9a1777f2d00a a:nth-child(-2) {
  display: none !important;
}

.eapps-instagram-feed-header-inner {
  max-width: 1000px !important;
}

.containerDivImage {
  position: relative;
  text-align: left;
}

.gradientDivText {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 50vw;
  height: 100vh;
}
.gradientDivTextPantaleon {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 50vw;
  height: 100vh;
}

.imgDiv {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  height: 100vh;
}
.backgroundPur {
  background-image: url('../img/first.jpg');
}

.backgroundPantaleon {
  background-image: url('../img/sanpantaleon.jpg');
}
.backgroundMo {
  background-image: url('../img/5.jpg');
}

.backgroundAyD {
  background-image: url('../img/areas/AyD.jpg');
}

.backgroundEcopuring {
  background-image: url('../img/areas/ecopuring.jpg');
}

.backgroundSalud {
  background-image: url('../img/areas/salud.jpg');
}

.backgroundSociales {
  background-image: url('../img/areas/sociales.jpg');
}

.svgSocialFloat {
  position: absolute;
  top: 12rem;
  right: 5rem;
}

.imgDivText {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  color: #fff;
  font-weight: 300;
}
.list-group-item {
  background-color: transparent !important;
  color: #fff;
}

.borderSociales {
  border: 3px solid #a1e5f1;
  transition: 0.5s;
  font-weight: 600;
}
.borderSociales:hover {
  background: #a1e5f1;
  color: var(--mainColor);
}

.borderEcopuring {
  border: 3px solid #f64740;
  transition: 0.5s;
  font-weight: 600;
}
.borderEcopuring:hover {
  background: #f64740;
  color: var(--mainColor);
}

.borderSalud {
  border: 3px solid #9ede91;
  transition: 0.5s;
  font-weight: 600;
}
.borderSalud:hover {
  background: #9ede91;
  color: var(--mainColor);
}

.borderAyD {
  border: 3px solid #f7b2ad;
  transition: 0.5s;
  font-weight: 600;
}
.borderAyD:hover {
  background: #f7b2ad;
  color: var(--mainColor);
}

@media screen and (max-width: 768px) {
  .imgDivText {
    font-size: 13vw;
  }
}

iframe {
  width: 100%;
  height: 20rem;
}
.maps {
  width: 20rem;
  height: 20rem;
}
.imgDivText p {
  font-family: 'Gobold Hollow', 'Montserrat', sans-serif;
}

.textGobold {
  font-family: 'Gobold', 'Montserrat', sans-serif !important;
}

.imgDivTextPantaleon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-20%, -50%);
  font-size: 6em;
  color: #fff;
  font-weight: 300;
}

.imgDivTextPantaleon p {
  font-family: 'Gobold Hollow', 'Montserrat', sans-serif;
}

.containerDivTittle p {
  color: #fff;
  font-size: 3rem;
}

.containerDivPhotos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.containerDivPhotos img {
  width: 100%;
  padding: 2rem 0;
}

/*======================
    404 page START
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 10rem;
  height: 10rem;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-repeat: no-repeat;
  height: 450px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.textNotFound {
  font-family: 'Gobold', sans-serif;
}

/*======================
    404 page END
=======================*/

.border-5 {
  border-color: #00000080;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2 {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #00000080;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  border-radius: 5px;
  z-index: 0;
}

/* Container around content */
.timeline-2 {
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.timeline-2::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: var(--coordinacionColor);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-2 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.asdL::before {
  content: ' ';
  position: absolute;
  top: 18px;
  z-index: 1;
  right: -15px;
  border: medium solid #00000080;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #00000080;
}

/* Add arrows to the right container (pointing left) */
.asdR::before {
  content: ' ';
  position: absolute;
  top: 18px;
  z-index: 1;
  left: -15px;
  border: medium solid #00000080;
  border-width: 10px 10px 10px 0;
  border-color: transparent #00000080 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-2::after {
  left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline-2::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .asdL::before {
    left: -15px;
    right: initial;
    border: medium solid #0000002d;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0000002d transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-2::after,
  .right-2::after {
    left: 18px;
  }

  .left-2::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-2 {
    left: 0%;
  }
}

#progress {
  position: fixed;
  top: 80px;
  right: 80px;
  transform: rotate(-90deg);
  z-index: 1;
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: #fff;
  opacity: 0.01;
}

#progress .indicator {
  stroke: #fff;
  opacity: 0.5;
}

.parallax {
  background-image: url('../img/8.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallaxMo {
  background-image: url('../img/6.jpg');
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallaxMo2 {
  background-image: url('../img/7.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-instagram {
  border-color: #5f4bc6 !important;
}
.btn-instagram:hover {
  background-color: #5f4bc6 !important;
  transition: 0.5s;
}

.btn-facebook {
  border-color: #1877f2 !important;
}

.btn-facebook:hover {
  background-color: #1877f2 !important;
  transition: 0.5s;
}

.btn-youtube {
  border-color: #ff0000 !important;
}
.btn-youtube:hover {
  background-color: #ff0000 !important;
  transition: 0.5s;
}
.imgPurFooter {
  width: 10rem;
}

.textFooter {
  font-size: 0.7rem;
}

.cardBackground {
  background-color: #1b2f3b !important;
}

.showbox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #121b28;
  z-index: 10;
  position: fixed;
  overflow: hidden;
}

.loader {
  position: relative;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
